@CHARSET "UTF-8";
.hBgG {
    background: #44ACFB 
}
.leftBgG {
    height: 69px;
    width: 543px;
    background: url("image/top_left.png") no-repeat;
    float: left;
}
.hTopRight {
    width: 540px;
    height: 69px;
    background: url("image/top_right.png") bottom right no-repeat;
    float: right;
}
.htopBgG {
    height: 38px;
    float: left;
    background: url("image/topmid_bg.png") repeat-x;
}
.hleftBotom {
    background: url("image/topmid_left.png") no-repeat;
    height: 38px;
    width: 150px;
    float: left;
    display:inline;
}
.hleftRight {
    background: url("image/topmid_right.png") right no-repeat;
    height: 38px;
    width: 125;
    float: right;
}